{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "@components": "./src/components",
          "@redux": "./src/redux",
          "@pages": "./src/pages",
          "@utils": "./src/utils",
          "@assets": "./src/assets",
          "@router": "./src/router",
          "@config": "./src/config",
          "underscore": "lodash"
        }
      }],
      "react-require"
    ]
  }